.search-input{
  width: 200px;
  transition: all ease-in-out .2s;
}

.search-input + #search-block {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.search-input + #search-block:before {
  content: "🔎";
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 17px;
  color: #eeeeee;
  bottom: 0;
  margin: auto;
  opacity: 0.4;
}